<!DOCTYPE html>
<html ng-app="starApp" ng-controller="MainController">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title ng-bind="models.helloAngular">@ViewBag.Title - FoodieGroupies</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body ng-app="starApp">
    @Html.Partial("_NavBar")
    <div class="container body-content" ng-controller="MainController">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Foodie Groupies</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app.js")
    @Scripts.Render("~/bundles/Controllers/MainController.js")
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    @RenderSection("scripts", required: false)
    
    
</body>
</html>
